version: "3.9"

services:
  <%= container_name %>:
    build:
      context: ./
      dockerfile: Dockerfile
    image: "<%= container_name %>:1.0"
    restart: unless-stopped
    ports:
      - "<%= port %>:8080"
    extra_hosts:
      - host.docker.internal:host-gateway
    working_dir: /var/www/
    volumes:
      - ./:/var/www
